body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 20px;
}

.content {
  min-height: calc(100vh - 64px - 70px);
  padding: 1.5rem 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.input-field {
  position: relative;
}

.search-btn,
.search-btn:active,
.search-btn:focus {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #7986cb;
}

.search-btn:hover {
  background-color: #596dd3;
}

.radio-btn {
  display: flex;
  justify-content: space-around;
}
